SECRET_KEY="super-secret-key-change-me-in-production-please"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

SERVER_PORT=8000
SERVER_IP="0.0.0.0"

DATABASE_PREFIX="postgresql+asyncpg://"
DATABASE_USER="postgres"
POSTGRES_PASSWORD="password"
DATABASE_HOST="db"
DATABASE_PORT=5432
DATABASE_NAME="auth_module" 
EXTERNAL_DATABASE_PORT=5433